// Layout
$min-width: 320px;
$max-width: 1140px;

// Singularity
//@include sgs-change($setting, $value);
@include add-grid(12);
@include add-gutter(0.15);

// Breakpoints
$s: 320px;
$m: 490px;
$l: 970px;
$xl: 1080px;
$touch: 'pointer coarse';

// Colour
$link: #71bdff;
$background: #141818;
$body: #c9cac5;
$highlight: #ff6d27;