input, textarea {
	@extend %transition;
	margin: 0 0 10px 0;
	background: transparent;
	border: 1px $link solid;
	border-left: none;
	border-right: none;
	font-family: sans-serif;
	padding: 2px 4px;
	color: $body;
	outline: none;
	&:hover, &:focus {
		border-color: transparent;
		background: $background;
	}
}
