*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background: $background;
}

#container {
	min-width: $min-width;
	max-width: $max-width;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}
